Repository groq/openbench: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, test-registry-imports

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff
        name: ruff check
        args: [--fix]
        files: ^src/
      - id: ruff-format
        name: ruff format
        files: ^src/
  - repo: local
    hooks:
      - id: sync-pyproject
        name: sync packages/pyproject.toml
        entry: bash scripts/run_sync_pyproject.sh
        language: system
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: .venv/bin/mypy
        language: system
        types: [python]
        args: [src]
        pass_filenames: false
        files: ^src/
      - id: test-registry-imports
        name: test registry imports
        entry: .venv/bin/pytest
        language: system
        args: [tests/test_registry_imports.py, -v]
        pass_filenames: false
        files: ^(src/openbench/_registry\.py|pyproject\.toml)

fix: log correct request dict after retry fallback
  src/openbench/model/_providers/responses.py
Due: mypy

feat: add chat-completions and responses provider prefixes
  docs/providers.mdx
  src/openbench/_registry.py
  src/openbench/model/_providers/chat_completions.py
  src/openbench/model/_providers/responses.py
  src/openbench/provider_config.py
Due: mypy, test-registry-imports

fix: update type ignore to cover call-arg error
  src/openbench/model/_providers/responses.py
Due: mypy

fix: ignore whitespace-only text
  src/openbench/model/_providers/responses.py
Due: mypy

fix: preserve sys message when no text is extracted
  src/openbench/model/_providers/responses.py
Due: mypy

dep: sync version number
  packages/openbench-core/pyproject.toml
Due: none

fix: imports + sync openbench core
  packages/openbench-core/pyproject.toml
  src/openbench/agents/claude.py
  src/openbench/agents/codex.py
Due: mypy

feat: upgraded InspectAI, OpenAI and MCP versions to support Gemini 3 Pro Preview
  packages/openbench-core/pyproject.toml
  pyproject.toml
  uv.lock
Due: test-registry-imports

feat(mathvista): add image resizing flags
  src/openbench/datasets/mathvista.py
  src/openbench/evals/mathvista.py
Due: mypy

fix(groq): enable strict mode for function calling
  src/openbench/model/_providers/groq.py
  src/openbench/model/_providers/groq_responses.py
Due: mypy

feat: pad image to square on dimension resizing
  src/openbench/datasets/mathvista.py
  src/openbench/evals/mathvista.py
Due: mypy

chore: reformatting
  src/openbench/datasets/mathvista.py
Due: mypy

feat(progressivemcpbench): add deferred_mode=directory to remote MCP tools
  src/openbench/evals/progressivemcpbench.py
Due: mypy

feat(remote_mcp): add base module structure and RemoteMCPHandler ABC
  src/openbench/evals/remote_mcp/__init__.py
  src/openbench/evals/remote_mcp/base.py
Due: mypy

feat(remote_mcp): add GroqRemoteMCPHandler for Responses API with MCP
  src/openbench/evals/remote_mcp/groq.py
Due: mypy

feat(remote_mcp): add AnthropicRemoteMCPHandler with MCP connector and tool search
  src/openbench/evals/remote_mcp/anthropic.py
Due: mypy

feat(remote_mcp): add registry for provider dispatch
  src/openbench/evals/remote_mcp/registry.py
Due: mypy

feat(progressivemcpbench): add provider-agnostic minimal-servers-remote with tool_discovery parameter
  src/openbench/evals/progressivemcpbench.py
Due: mypy

fix(remote_mcp): detect provider via ModelAPI type instead of model name prefix
  src/openbench/evals/progressivemcpbench.py
  src/openbench/evals/remote_mcp/anthropic.py
  src/openbench/evals/remote_mcp/base.py
  src/openbench/evals/remote_mcp/groq.py
  src/openbench/evals/remote_mcp/registry.py
Due: mypy

fix(anthropic): correct MCP connector API structure
  src/openbench/evals/remote_mcp/anthropic.py
Due: mypy

fix(remote_mcp): support both GroqAPI and GroqResponsesAPI in Groq handler
  src/openbench/evals/remote_mcp/groq.py
Due: mypy

refactor: remove groq-responses provider
  src/openbench/_registry.py
  src/openbench/evals/remote_mcp/groq.py
  src/openbench/model/_providers/groq_responses.py
  src/openbench/provider_config.py
Due: mypy, test-registry-imports

feat(remote_mcp): add Groq-Beta header for MCP deferred directory
  src/openbench/evals/remote_mcp/groq.py
Due: mypy

feat(remote_mcp): add directory-lazy tool discovery option for Groq
  src/openbench/evals/progressivemcpbench.py
  src/openbench/evals/remote_mcp/groq.py
Due: mypy

feat(progressivemcpbench): embed server list in meta__ls tool description
  src/openbench/tools/progressivemcpbench/synthetic/directory_router.py
  src/openbench/tools/progressivemcpbench/synthetic/directory_server.py
  src/openbench/utils/text.py
Due: mypy

Refactor: Improve GPQA Diamond eval and update uv.lock
  src/openbench/evals/gpqa_diamond.py
  uv.lock
Due: mypy

Adding terraform generation to openbench.
  src/openbench/_registry.py
  src/openbench/config.py
  src/openbench/datasets/terraform_generation.py
  src/openbench/evals/terraform_generation.py
  src/openbench/scorers/terraform_generation.py
  tests/integration/test_cli.py
  tests/test_terraform_generation.py
Due: mypy, test-registry-imports

fix: quote workdir before shell interpolation to prevent injection
  src/openbench/agents/aider.py
  src/openbench/agents/gemini.py
  src/openbench/agents/opencode.py
  src/openbench/agents/roo.py
  src/openbench/utils/cli_commands.py
Due: mypy

chore: remove dependabot config
  .github/dependabot.yml
Due: none

feat(provider): add Yutori provider support for Navigator model
  README.md
  docs/providers.mdx
  src/openbench/_registry.py
  src/openbench/model/_providers/yutori.py
  src/openbench/provider_config.py
  tests/test_yutori_provider.py
Due: mypy, test-registry-imports

chore: update copyright to 'Groq LLC' and bump year to 2026
  LICENSE.md
Due: none

feat: add LiteLLM as AI gateway provider
  src/openbench/_registry.py
  src/openbench/model/_providers/litellm.py
  src/openbench/provider_config.py
Due: mypy, test-registry-imports

test: add litellm provider unit tests
  tests/test_litellm_provider.py
Due: none

Add @andrewtlw and @BetterWithBeyti as code owners
  CODEOWNERS
Due: none

Add Andrew Tan and James Franco as code owners (#358)
  CODEOWNERS
Due: none

Update copyright to 'Groq LLC' and bump year to 2026 (#356)
  LICENSE.md
Due: none

fix: replace retired claude model id in workflows
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

fix: replace retired claude model id in workflows (#362)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

chore: GitHub Terraform: Create/Update .github/workflows/code-freeze-bypass.yaml [skip ci]
  .github/workflows/code-freeze-bypass.yaml
Due: none
