Repository groq/openbench: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, export-benchmarks

mypy:
  name: mypy
  entry: .venv/bin/mypy
  language: system
  args:
  - src
  pass_filenames: false

export-benchmarks:
  name: export benchmarks
  entry: .venv/bin/python scripts/export_benchmarks.py
  language: system
  pass_filenames: false

fix: merge pre-commit CI fix
  docs/snippets/benchmarks.data.mdx
Due: export-benchmarks

Add ARC (AI2 Reasoning Challenge) benchmark
  src/openbench/evals/arc.py
Due: mypy

Add HellaSwag benchmark
  src/openbench/evals/hellaswag.py
Due: mypy

Add SWAG (Situations With Adversarial Generations) benchmark
  src/openbench/evals/swag.py
Due: mypy

Add WinoGrande benchmark
  src/openbench/evals/winogrande.py
Due: mypy

Add PIQA (Physical Interaction QA) benchmark
  src/openbench/evals/piqa.py
Due: mypy

Add WSC273 (Winograd Schema Challenge) benchmark
  src/openbench/evals/wsc273.py
Due: mypy

Add PROST (Physical Reasoning about Objects through Space and Time) benchmark
  src/openbench/evals/prost.py
Due: mypy

Register core commonsense benchmarks in OpenBench
  src/openbench/_registry.py
  src/openbench/config.py
Due: mypy, export-benchmarks

Add generated benchmarks.data.mdx for new benchmarks
  docs/snippets/benchmarks.data.mdx
  src/openbench/evals/arc.py
Due: mypy, export-benchmarks

Fix ARC to support 5-choice questions (A-E)
  src/openbench/evals/arc.py
Due: mypy

Add GLUE/SuperGLUE benchmark suite (21 tasks)
  docs/snippets/benchmarks.data.mdx
  src/openbench/_registry.py
  src/openbench/config.py
  src/openbench/evals/anli.py
  src/openbench/evals/glue.py
  src/openbench/evals/glue_standard.py
Due: mypy, export-benchmarks

Add BLiMP linguistic phenomena benchmark (68 tasks)
  docs/snippets/benchmarks.data.mdx
  src/openbench/_registry.py
  src/openbench/config.py
  src/openbench/evals/blimp.py
Due: mypy, export-benchmarks

Add Knowledge QA benchmarks (4 tasks)
  docs/snippets/benchmarks.data.mdx
  src/openbench/_registry.py
  src/openbench/config.py
  src/openbench/evals/logiqa.py
  src/openbench/evals/mathqa.py
  src/openbench/evals/sciq.py
  src/openbench/evals/truthfulqa.py
Due: mypy, export-benchmarks

Add Reading Comprehension benchmarks (6 tasks)
  docs/snippets/benchmarks.data.mdx
  src/openbench/_registry.py
  src/openbench/config.py
  src/openbench/evals/qa4mre.py
  src/openbench/evals/qasper.py
  src/openbench/evals/race.py
Due: mypy, export-benchmarks

Add Ethics & Social Understanding benchmarks (8 tasks)
  docs/snippets/benchmarks.data.mdx
  src/openbench/_registry.py
  src/openbench/config.py
  src/openbench/evals/ethics.py
  src/openbench/evals/social_iqa.py
  src/openbench/evals/toxigen.py
Due: mypy, export-benchmarks

Add AGIEval academic exam benchmarks (18 tasks)
  docs/snippets/benchmarks.data.mdx
  src/openbench/_registry.py
  src/openbench/config.py
  src/openbench/evals/agieval.py
Due: mypy, export-benchmarks

Add GPQA MC benchmark for graduate-level science questions
  docs/snippets/benchmarks.data.mdx
  src/openbench/_registry.py
  src/openbench/config.py
  src/openbench/evals/gpqa_mc.py
Due: mypy, export-benchmarks

Add LegalSupport benchmark for legal citation analysis
  docs/snippets/benchmarks.data.mdx
  src/openbench/_registry.py
  src/openbench/config.py
  src/openbench/evals/legalsupport.py
Due: mypy, export-benchmarks

Add Arabic Exams benchmarks for Arabic language understanding
  docs/snippets/benchmarks.data.mdx
  src/openbench/_registry.py
  src/openbench/config.py
  src/openbench/evals/arabic_exams.py
Due: mypy, export-benchmarks

Fix: Add missing config entry for superglue family benchmark
  docs/snippets/benchmarks.data.mdx
  src/openbench/config.py
Due: mypy, export-benchmarks

chore: randomize sample choices
  src/openbench/evals/gpqa_mc.py
Due: mypy

chore: remove pre-commit benchmark checks for easier CI
  .pre-commit-config.yaml
Due: none

chore: rename gpqa_mc to gpqa
  docs/snippets/benchmarks.data.mdx
  src/openbench/_registry.py
  src/openbench/config.py
  src/openbench/evals/gpqa.py
Due: mypy, export-benchmarks

fix: pre-commit
  src/openbench/_registry.py
  src/openbench/config.py
Due: mypy, export-benchmarks

fix: randomize sample answer choices
  src/openbench/evals/blimp.py
Due: mypy

fix pre-commit
  src/openbench/_registry.py
  src/openbench/config.py
Due: mypy, export-benchmarks

fix pre-commit
  src/openbench/_registry.py
Due: mypy

fix: comment clarification
  src/openbench/evals/social_iqa.py
Due: mypy

chore: update benchmarks
  docs/snippets/benchmarks.data.mdx
Due: export-benchmarks

fix: address bugbot
  src/openbench/evals/gpqa.py
Due: mypy

chore: update benchmarks mdx for all lighteval ports
  docs/snippets/benchmarks.data.mdx
Due: export-benchmarks

chore: alphabetize available benchmarks error
  src/openbench/config.py
Due: mypy, export-benchmarks

feat: add eval presets for batch eval runs
  docs/snippets/benchmarks.data.mdx
  src/openbench/_cli/eval_command.py
  src/openbench/_cli/list_command.py
  src/openbench/_registry.py
  src/openbench/config.py
  src/openbench/evals/arabic_exams.py
Due: mypy, export-benchmarks

feat(plugins): add entry point system for external benchmarks
  README.md
  docs/development/architecture.mdx
  docs/development/extending.mdx
  docs/docs.json
  src/openbench/_cli/utils.py
  src/openbench/config.py
  src/openbench/utils/__init__.py
  src/openbench/utils/metadata.py
  tests/test_registry.py
Due: mypy, export-benchmarks

fix: normalize benchmark keys during entry point merge to allow '-' vs '_' overrides
  src/openbench/config.py
Due: mypy, export-benchmarks

feat(cybench): added documentation
  README.md
  pyproject.toml
Due: none

feat(cybench): added license attribution to cybench
  src/openbench/evals/cybench/ATTRIBUTION.md
  src/openbench/evals/cybench/cybench.py
Due: mypy

Path conditions:
  mypy: any of: ^src/ and \.py$
  export-benchmarks: any of: ^(src/openbench/config.py|docs/snippets/benchmarks\.data\.mdx)$
