Repository groq/openbench: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, test-registry-imports

mypy:
  name: mypy
  entry: .venv/bin/mypy
  language: system
  args:
  - src
  pass_filenames: false

test-registry-imports:
  name: test registry imports
  entry: .venv/bin/pytest
  language: system
  args:
  - tests/test_registry_imports.py
  - -v
  pass_filenames: false

Add deterministic result categorization script
  scripts/categorize_results.py
Due: none

feat: add step5_apply_annotations.py for stub handler workflow
  synthetic_mcp/generation/step5_apply_annotations.py
Due: none

updating result script
  scripts/categorize_results.py
Due: none

feat(analyze_failures): add --log-file argument for single log analysis
  scripts/analyze_failures.py
Due: none

feat: restore LLM generation with hybrid approach for step1
  synthetic_mcp/generation/step1_generate_schemas.py
Due: none

feat: require agents to read tool specs before executing in directory strategy
  src/openbench/tools/progressivemcpbench/directory/server.py
  src/openbench/tools/progressivemcpbench/synthetic/directory_server.py
Due: mypy

fix(progressivemcpbench): add timeout and rate limit handling to copilot matcher
  src/openbench/tools/progressivemcpbench/copilot/matcher.py
Due: mypy

feat(progressivemcpbench): re-enable 5 web crawling tasks
  src/openbench/datasets/data/progressivemcpbench.json
Due: none

feat(synthetic-mcp): add web_corpus and url_search handlers
  synthetic_mcp/server/http_mcp_server.py
Due: none

docs(progressivemcpbench): remove live MCP references, all strategies now synthetic
  docs/evals/progressivemcpbench.mdx
Due: none

feat(synthetic-mcp): add initial HTML snapshots for web corpus
  synthetic_mcp/data/web/html/en_wikipedia_org_wiki_Llullaillaco.html
  synthetic_mcp/data/web/html/news_ycombinator_com_item_id_44490510.html
  synthetic_mcp/data/web/html/news_ycombinator_com_item_id_45973709.html
  synthetic_mcp/data/web/metadata.json
  synthetic_mcp/data/web/search_index.json
Due: none

feat(progressivemcpbench): implement clean JSON-only final_answer output format
  src/openbench/evals/progressivemcpbench.py
  src/openbench/utils/text.py
Due: mypy

feat: add stub call logging to synthetic MCP server
  synthetic_mcp/server/http_mcp_server.py
Due: none

fix(synthetic-mcp): fix lint errors in http_mcp_server.py
  synthetic_mcp/server/http_mcp_server.py
Due: none

Use UUIDs for decoy URL IDs
  synthetic_mcp/data/web/decoy_urls.json
Due: none

feat: enhance categorization with deeper error analysis
  scripts/categorize_results.py
Due: none

refactor: replace generic url-search with domain-specific hackernews and wikipedia servers
  src/openbench/datasets/data/progressivemcpbench.json
  synthetic_mcp/config/seeds/working_tasks.json
  synthetic_mcp/config/servers.json
  synthetic_mcp/data/api/hackernews_stories.json
  synthetic_mcp/data/api/wikipedia_articles.json
  synthetic_mcp/generation/curate_url.py
  synthetic_mcp/server/http_mcp_server.py
  synthetic_mcp/tasks/progressivemcpbench_synthetic.json
  synthetic_mcp/tasks/summary.json
Due: none

docs(progressivemcpbench): comprehensive rewrite with expansion guide
  docs/evals/progressivemcpbench.mdx
Due: none

feat(progressivemcpbench): add commodities and forex MCP servers with two new tasks
  docs/evals/progressivemcpbench.mdx
  synthetic_mcp/config/seeds/servers_raw.json
  synthetic_mcp/config/seeds/working_tasks.json
  synthetic_mcp/config/servers.json
  synthetic_mcp/data/api/commodity_prices.json
  synthetic_mcp/data/api/forex_rates.json
  synthetic_mcp/tasks/progressivemcpbench_synthetic.json
  synthetic_mcp/tasks/summary.json
Due: none

fix(progressivemcpbench): resolve JSON parsing issues caused by json_object response format
  src/openbench/evals/progressivemcpbench.py
  src/openbench/scorers/progressivemcpbench.py
Due: mypy

Tweaking system prompts
  src/openbench/utils/text.py
Due: mypy

fix: Replace stub implementations with real file readers for DOCX and PDF
  synthetic_mcp/server/http_mcp_server.py
Due: none

chore: remove obsolete MOCK_MCP_PLAN.md
  docs/MOCK_MCP_PLAN.md
Due: none

chore: move ProgressiveMCPBench scripts to synthetic_mcp/scripts
  synthetic_mcp/scripts/analyze_failures.py
  synthetic_mcp/scripts/annotate_dataset.py
  synthetic_mcp/scripts/categorize_results.py
  synthetic_mcp/scripts/extract_success_logs.py
Due: none

docs: update progressivemcpbench metadata from documentation
  src/openbench/config.py
Due: mypy

refactor: remove legacy dataset path and 'synthetic' naming
  docs/evals/progressivemcpbench.mdx
  src/openbench/datasets/data/progressivemcpbench.json
  src/openbench/datasets/progressivemcpbench.py
  src/openbench/evals/progressivemcpbench.py
  src/openbench/tools/progressivemcpbench/synthetic/toolsource.py
  synthetic_mcp/generation/step3_generate_tasks.py
  synthetic_mcp/generation/step4_validate_all.py
  synthetic_mcp/tasks/progressivemcpbench.json
Due: mypy

feat: migrate from custom RPC to standard MCP protocol
  pyproject.toml
  src/openbench/tools/progressivemcpbench/copilot/synthetic_router.py
  src/openbench/tools/progressivemcpbench/copilot/synthetic_server.py
  src/openbench/tools/progressivemcpbench/copilot/synthetic_toolsource.py
  src/openbench/tools/progressivemcpbench/synthetic/directory_router.py
  src/openbench/tools/progressivemcpbench/synthetic/directory_server.py
  src/openbench/tools/progressivemcpbench/synthetic/streamable_http_client.py
  src/openbench/tools/progressivemcpbench/synthetic/tool_wrapper.py
  src/openbench/utils/mcp_server_manager.py
  synthetic_mcp/server/__init__.py
  synthetic_mcp/server/http_mcp_server.py
  uv.lock
Due: mypy, test-registry-imports

feat: Add initial remote strategy support to progressive MCP bench
  src/openbench/evals/progressivemcpbench.py.backup
  src/openbench/tools/progressivemcpbench/synthetic/tool_wrapper.py
  src/openbench/tools/progressivemcpbench/synthetic/toolsource.py
Due: mypy

fix: Correct remote strategy implementation for single-shot MCP execution
  src/openbench/evals/progressivemcpbench.py
  src/openbench/tools/progressivemcpbench/synthetic/tool_wrapper.py
  src/openbench/tools/progressivemcpbench/synthetic/toolsource.py
Due: mypy

fix: Resolve 'str' object has no attribute 'tool_choice' runtime error
  src/openbench/evals/progressivemcpbench.py
Due: mypy

opencode dead end
  src/openbench/evals/progressivemcpbench.py.working_copy
  src/openbench/tools/progressivemcpbench/synthetic/tool_wrapper.py.bak
  src/openbench/tools/progressivemcpbench/synthetic/toolsource.py
  temp_imports.txt
  temp_remote_solver.txt
Due: mypy

yeah nah
  packages/openbench-core/pyproject.toml
  src/openbench/_registry.py
  src/openbench/evals/progressivemcpbench.py
  src/openbench/model/_providers/groq_mcp.py
Due: mypy, test-registry-imports

feat: add groq-responses provider for Groq Responses API
  src/openbench/_registry.py
  src/openbench/model/_providers/groq_responses.py
  src/openbench/provider_config.py
Due: mypy, test-registry-imports

feat(progressivemcpbench): add minimal-servers-remote strategy
  packages/openbench-core/pyproject.toml
  src/openbench/evals/progressivemcpbench.py
Due: mypy

fix(progressivemcpbench): check provider type instead of model name prefix
  src/openbench/evals/progressivemcpbench.py
Due: mypy

docs: add minimal-servers-remote strategy documentation
  docs/evals/progressivemcpbench.mdx
Due: none

feat(progressivemcpbench): add detailed MCP request/response logging
  src/openbench/evals/progressivemcpbench.py
Due: mypy

refactor: use production MCP server URL by default with env var override
  src/openbench/tools/progressivemcpbench/copilot/synthetic_router.py
  src/openbench/tools/progressivemcpbench/copilot/synthetic_server.py
  src/openbench/tools/progressivemcpbench/copilot/synthetic_toolsource.py
  src/openbench/tools/progressivemcpbench/directory/router.py
  src/openbench/tools/progressivemcpbench/mcp_config.py
  src/openbench/tools/progressivemcpbench/synthetic/directory_router.py
  src/openbench/tools/progressivemcpbench/synthetic/directory_server.py
  src/openbench/tools/progressivemcpbench/synthetic/streamable_http_client.py
  src/openbench/tools/progressivemcpbench/synthetic/tool_wrapper.py
  src/openbench/tools/progressivemcpbench/synthetic/toolsource.py
Due: mypy

fix: update mcp_server_manager to use centralized config
  src/openbench/utils/mcp_server_manager.py
Due: mypy

feat(exercism): adding codex, claude, gemini and hidden tests flag (#325)
  README.md
  docs/evals/exercism.mdx
  docs/release-notes.mdx
  docs/snippets/benchmarks.data.mdx
  packages/openbench-core/pyproject.toml
  pyproject.toml
  src/openbench/_cli/eval_command.py
  src/openbench/agents/__init__.py
  src/openbench/agents/codex.py
  src/openbench/agents/gemini.py
  src/openbench/agents/manager.py
  src/openbench/config.py
  src/openbench/evals/exercism/exercism.py
  src/openbench/provider_config.py
  src/openbench/solvers/exercism_solver.py
  src/openbench/utils/cli_commands.py
  src/openbench/utils/docker.py
  src/openbench/utils/text.py
  tests/test_exercism_cli.py
  tests/test_groq_provider.py
  uv.lock
Due: mypy, test-registry-imports

Path conditions:
  mypy: any of: ^src/ and \.py$
  test-registry-imports: any of: ^(src/openbench/_registry\.py|pyproject\.toml)
