Repository groq/openbench: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, export-benchmarks

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        name: ruff check
        args: [--fix]
        files: ^src/
      - id: ruff-format
        name: ruff format
        files: ^src/
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: .venv/bin/mypy
        language: system
        types: [python]
        args: [src]
        pass_filenames: false
        files: ^src/
      - id: export-benchmarks
        name: export benchmarks
        entry: .venv/bin/python scripts/export_benchmarks.py
        language: system
        pass_filenames: false
        # run when benchmark config or snippet file changes
        files: ^(src/openbench/config.py|docs/snippets/benchmarks\.data\.mdx)$

feat(cybench): added support for cybench
  src/openbench/config.py
Due: mypy, export-benchmarks

fix: normalize benchmark keys during entry point merge
  src/openbench/config.py
Due: mypy, export-benchmarks

feat(otis-mock-aime): added support for otis mock aime 2024-2025
  README.md
  src/openbench/_registry.py
  src/openbench/config.py
  src/openbench/datasets/mockaime.py
  src/openbench/evals/cybench/build-images.sh
  src/openbench/evals/glue.py
  src/openbench/evals/mockaime.py
  src/openbench/scorers/fallback_scorer.py
  src/openbench/scorers/mockaime.py
  src/openbench/utils/text.py
  tests/test_registry.py
Due: mypy, export-benchmarks

feat(otis-mock-aime): added support for otis mock aime 2024-2025
  src/openbench/config.py
  src/openbench/scorers/mockaime.py
Due: mypy, export-benchmarks

fix: handle conflicts between multiple entry points with normalized keys
  src/openbench/config.py
Due: mypy, export-benchmarks

feat: add remaining 32 arabic exam subsets, total 41 subsets
  src/openbench/_registry.py
  src/openbench/config.py
  src/openbench/evals/arabic_exams.py
Due: mypy, export-benchmarks

chore: update benchmarks metadata
  docs/snippets/benchmarks.data.mdx
Due: export-benchmarks

feat: replace multiple-choice tag with MCQEval for all MCQEval benchmarks
  src/openbench/config.py
Due: mypy, export-benchmarks

feat: add missing General Knowledge subset to ArabicMMLU
  src/openbench/_registry.py
  src/openbench/config.py
  src/openbench/evals/arabic_exams.py
Due: mypy, export-benchmarks

feat(cybench): added license
  src/openbench/evals/cybench/ATTRIBUTION.md
  src/openbench/evals/cybench/LICENSE
  src/openbench/evals/cybench/cybench.py
  src/openbench/evals/glue.py
  tests/test_registry.py
Due: mypy

docs: add missing docstrings and type hints for code clarity
  .gitignore
  src/openbench/_cli/cache_command.py
  src/openbench/evals/glue.py
  src/openbench/solvers/scicode.py
  src/openbench/utils/arc_parsing.py
  tests/test_registry.py
Due: mypy

feat(otis-mock-aime): added support for otis mock aime 2024 and 2025
  src/openbench/_registry.py
  src/openbench/config.py
  src/openbench/datasets/mockaime.py
  src/openbench/evals/cybench/build-images.sh
  src/openbench/evals/mockaime.py
  src/openbench/scorers/mockaime.py
Due: mypy, export-benchmarks

style(lint): pre-commit hooks
  src/openbench/evals/glue.py
Due: mypy

Add env validation
  src/openbench/_cli/eval_command.py
  src/openbench/provider_config.py
Due: mypy

Update tests
  tests/_cli/test_eval_command_functions.py
Due: none

feat(docs): add changelog page
  docs/changelog.mdx
  docs/docs.json
Due: none

feat(docs): add benchmarks section with cybersecurity page, move catalog from getting started to benchmarks
  docs/benchmarks/cybersecurity.mdx
  docs/docs.json
  docs/index.mdx
Due: none

feat(docs): enable github actions workflow for benchmarks and changelog updates
  .github/workflows/update-docs-benchmarks.yml
  .github/workflows/update-docs-changelog.yml
  docs/benchmarks/catalog.mdx
  docs/changelog.mdx
  scripts/export_changelog.py
Due: none

chore: minor formatting
  .github/workflows/update-docs-benchmarks.yml
  .github/workflows/update-docs-changelog.yml
Due: none

chore: remove Groq mention
  docs/docs.json
  docs/index.mdx
Due: none

feat(mhj-m2s): added support for single turn conversion of mhj
  src/openbench/_registry.py
  src/openbench/config.py
  src/openbench/datasets/mhj_m2s.py
  src/openbench/evals/mhj_m2s.py
  src/openbench/metrics/mhj_m2s.py
  src/openbench/scorers/mhj_m2s.py
  src/openbench/utils/text.py
Due: mypy, export-benchmarks

feat(jailbreak): added support for two more jailbreaking datasets with m2s conversion
  src/openbench/_registry.py
  src/openbench/config.py
  src/openbench/datasets/cosafe_m2s.py
  src/openbench/datasets/mhj_m2s.py
  src/openbench/datasets/safemt_m2s.py
  src/openbench/evals/cosafe_m2s.py
  src/openbench/evals/mhj_m2s.py
  src/openbench/evals/safemt_m2s.py
  src/openbench/metrics/score_reject.py
  src/openbench/scorers/score_reject.py
  src/openbench/utils/text.py
Due: mypy, export-benchmarks

feat(mhj-m2s): added support for single turn conversion of mhj
  src/openbench/datasets/mhj_m2s.py
  src/openbench/metrics/mhj_m2s.py
Due: mypy

feat(jailbreak): added support for two more jailbreaking datasets with m2s conversion
  src/openbench/datasets/mhj_m2s.py
Due: mypy

feat(jailbreak): added docs
  README.md
Due: none

chore: remove redundant limit param, minor syntax fix
  src/openbench/datasets/multichallenge.py
  src/openbench/evals/multichallenge.py
Due: mypy

feat: multichallenge implementation
  src/openbench/_registry.py
  src/openbench/config.py
  src/openbench/datasets/multichallenge.py
  src/openbench/evals/multichallenge.py
  src/openbench/metrics/__init__.py
  src/openbench/metrics/multichallenge.py
  src/openbench/scorers/multichallenge.py
Due: mypy, export-benchmarks

chore: refine presents (remove overly niche groups, add medical, vision, cybersecurity)
  src/openbench/config.py
Due: mypy, export-benchmarks

chore: remove benchmark families from presets (to be implemented separately)
  src/openbench/config.py
Due: mypy, export-benchmarks

chore: enable aggregate metrics summary for preset group runs
  src/openbench/_cli/eval_command.py
Due: mypy

chore: merge conflict fix
  src/openbench/config.py
Due: mypy, export-benchmarks

chore: sync packaging pyproject
  .gitignore
  .pre-commit-config.yaml
  packages/openbench-core/pyproject.toml
  scripts/sync_pyproject.py
Due: none

fix: correct regex patterns for adjusting relative paths in sync_pyproject.py
  scripts/sync_pyproject.py
Due: none

chore: wrap sync hook interpreter detection
  .pre-commit-config.yaml
  scripts/run_sync_pyproject.sh
Due: none

style: enforce spacing before benchmark helpers
  src/openbench/config.py
Due: mypy, export-benchmarks

chore: pin ruff pre-commit release
  .pre-commit-config.yaml
Due: none

fix: drop readme requirement for package sync
  packages/openbench-core/pyproject.toml
  scripts/sync_pyproject.py
Due: none

fix: make core package actually install
  packages/openbench-core/pyproject.toml
  scripts/sync_pyproject.py
Due: none

fix: multiple improvements to benchmark evaluation system
  scripts/generate_family_groups.py
  scripts/mark_subtasks.py
  src/openbench/_cli/eval_command.py
  src/openbench/_cli/list_command.py
  src/openbench/config.py
  src/openbench/evals/exercism/Dockerfile
  src/openbench/evals/exercism/compose.yaml
  src/openbench/evals/exercism/exercism.py
  src/openbench/evals/family_aggregate.py
  src/openbench/evals/glue.py
  src/openbench/evals/mgsm.py
  src/openbench/evals/mmmlu.py
  src/openbench/evals/race.py
  src/openbench/utils/mcq.py
  src/openbench/utils/metadata.py
  tests/test_eval_groups.py
Due: mypy, export-benchmarks
